@import "./avatar.css";
@import "./button.css";
@import "./post.css";
@import "./suggestionBox.css";
@import "./tabs.css";
@import "./profileCard.css";
@import "./createPost.css";
:root {
  /* COlor Variables */
  --colorPrimary: #d97e1c;
  --colorSecn: #1c77d9;
  --colorAcc: #d0eeb4;
  --colorGrey: #ececec;
  --colorText: #565360;
  --colorWhite: #ffffff;
  --colorDanger: rgb(216, 43, 43);
  --colorSucces: rgb(73, 216, 149);
  --colorBlack: hsla(57, 100%, 4%, 1);

  --lensm1: 0.25rem;
  --lensm2: 0.375rem;
  --lenmed1: 0.8rem;
  --lenmed2: 1rem;
  --lenmed3: 1.25rem;
  --lenlg1: 1.5rem;
  --lenlg2: 3rem;
  --lenlg3: 4rem;

  /* Space Variables  */
  --space-0-125: 0.125rem;
  --space-0-25: 0.25rem;
  --space-0-3: 0.3rem;
  --space-0-5: 0.5rem;
  --space-0-6: 0.65rem;
  --space-0-75: 0.75rem;
  --space-0-85: 0.85rem;
  --space-1: 1rem;
  --space-1-25: 1.25rem;
  --space-1-5: 1.5rem;
  --space-1-75: 1.75rem;
  --space-2: 2rem;
  --space-2-25: 2.25rem;
  --space-2-5: 2.5rem;
  --space-2-75: 2.75rem;
  --space-3: 3rem;
  --space-4: 4rem;
}

/* ------------PADDINGS------------- */
.p-0-25 {
  padding: var(--space-0-25);
}

.p-0-5 {
  padding: var(--space-0-5);
}

.p-0-75 {
  padding: var(--space-0-75);
}

.p-0-3 {
  padding: var(--space-0-3);
}

.p-0-85 {
  padding: var(--space-0-85);
}

.p-1 {
  padding: var(--space-1);
}

.p-1-25 {
  padding: var(--space-1-25);
}

.p-1-5 {
  padding: var(--space-1-5);
}

.p-1-75 {
  padding: var(--space-1-75);
}

.p-2 {
  padding: var(--space-2);
}

.p-2-25 {
  padding: var(--space-2-25);
}

.p-2-5 {
  padding: var(--space-2-5);
}

.p-2-75 {
  padding: var(--space-2-75);
}

.p-3 {
  padding: var(--space-3);
}

.p-4 {
  padding: var(--space-4);
}

/* padding x */

.px-0-125 {
  padding-left: var(--space-0-125);
  padding-right: var(--space-0-125);
}

.px-0-25 {
  padding-left: var(--space-0-25);
  padding-left: var(--space-0-25);
}

.px-0-3 {
  padding-left: var(--space-0-3);
  padding-right: var(--space-0-3);
}

.px-0-5 {
  padding-left: var(--space-0-5);
  padding-right: var(--space-0-5);
}

.px-0-6 {
  padding-left: var(--space-0-6);
  padding-right: var(--space-0-6);
}

.px-0-75 {
  padding-left: var(--space-0-75);
  padding-right: var(--space-0-75);
}

.px-0-85 {
  padding-left: var(--space-0-85);
  padding-right: var(--space-0-85);
}

.px-1 {
  padding-left: var(--space-1);
  padding-right: var(--space-1);
}

.px-1-5 {
  padding-left: var(--space-1-5);
  padding-right: var(--space-1-5);
}

.px-2 {
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}

.px-3 {
  padding-right: var(--space-3);
  padding-left: var(--space-3);
}

/* padding y */

.py-0-125 {
  padding-top: var(--space-0-125);
  padding-bottom: var(--space-0-125);
}

.py-0-25 {
  padding-top: var(--space-0-25);
  padding-bottom: var(--space-0-25);
}

.py-0-3 {
  padding-top: var(--space-0-3);
  padding-bottom: var(--space-0-3);
}

.py-0-5 {
  padding-top: var(--space-0-5);
  padding-bottom: var(--space-0-5);
}

.py-0-6 {
  padding-top: var(--space-0-6);
  padding-bottom: var(--space-0-6);
}

.py-0-75 {
  padding-top: var(--space-0-75);
  padding-bottom: var(--space-0-75);
}

.py-0-85 {
  padding-top: var(--space-0-85);
  padding-bottom: var(--space-0-85);
}

.py-1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.py-2 {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}

.py-3 {
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
}

.py-4 {
  padding-top: var(--space-4);
  padding-bottom: var(--space-4);
}

/* Reset Css */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset Margin  */

body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

i {
  font-size: inherit;
  padding-right: 0.75em;
  padding-left: 0.75em;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set Up body */

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  font-size: var(--lenmed2);
  background-color: var(--colorGrey);
}

img,
picture {
  max-width: 100%;
  display: block;
}

/* form elements */

input,
textarea,
button,
select {
  font: inherit;
  font-size: inherit;
}

/********** UTILITY CLASSES *************/

.flex {
  display: flex;
  gap: 1rem;
}

.column {
  flex-direction: column;
  gap: 1rem;
}

.grid {
  display: grid;
  gap: 1rem;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 90rem;
}

.container {
  grid-template-columns: 1fr 2fr 1fr;
}

.box {
  background-color: aqua;
  padding: 2rem;
}

/* Colors Utility CLasses */
.bg-prm {
  background-color: var(--colorPrimary);
}

.bg-scn {
  background-color: var(--colorSecn);
}

.bg-acc {
  background-color: var(--colorAcc);
}

.bg-grey {
  background-color: var(--colorGrey);
}
.bg-dark {
  background-color: var(--colorDark);
}

.txt {
  color: var(--colorText);
}

.txt-prm {
  color: var(--colorPrimary);
}

.txt-scn {
  color: var(--colorSecn);
}

.txt-acc {
  color: var(--colorAcc);
}
.txt-grey {
  color: var(--colorGrey);
}

.txt-white {
  color: #ffffff;
}

.border-bs {
  border: 1px solid hsla(0, 0%, 80%, 0.6588235294117647);
}

.border-radius {
  border-radius: 0.75rem;
}

.bold {
  font-weight: 600;
}

.pos-sticky {
  position: sticky;
  top: 0;
}
