.container__login {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-span2 {
  grid-column: 1 / 5;
}

.col-left {
  background-color: var(--colorPrimary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-left h1 {
  font-size: var(--lenlg2);
  font-weight: 800;
  line-height: 4.3rem;
}

.col-left p {
  background: #121fcf;
  background: linear-gradient(to right, #121fcf 0%, #cf1512 100%);
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.col-right {
  grid-column: 5 / -1;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  /* border: none; */
  border: 2px solid var(--fulvous);
  padding: 8px;
  border-radius: 3px;
}

.input-field {
  position: relative;
  background: none;

  transition: border-color 0.3s ease;
  padding: 12px;
}

.placeholder {
  position: absolute;
  top: 20px;
  left: 1rem;
  transition: top 0.3s ease, font-size 0.3s ease;
  /* padding: 8px; */
}

.input-field input:valid ~ .placeholder,
input:focus ~ .placeholder {
  top: 0px;
  left: 8px;
  font-size: 10px;
}

/* .input-field input:focus ~ label,
  input:valid ~ label {
    top: 0px;
    left: 8px;
    font-size: 10px;
  } */

.input-field .error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 12px;
  background: var(--border-danger);
  color: #fff;
  height: 24px;
}

.input-field .error-message:empty {
  opacity: 0;
}
